#page-dashboard {
  min-height: 100vh;
  display: flex;
  background: #EBF2F5;
}

#page-dashboard aside {
  width: 96px;
  max-height: 820px;
  background: #15C3D6;

  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: space-between;
  
  padding: 32px 0px;

  animation: aside 3s;
}

@keyframes aside {
  0% {
    background: none;
  }
  
  50% {
    background: #15C3D6;
  }

  100% {
    background: #15C3D6;
  }
}

#page-dashboard aside img {
  width: 48px;
  cursor: pointer;
  
  animation: icons 2s;
}

#page-dashboard aside .status-orphanage {
  display: flex;
  flex-direction: column;

  animation: icons 2s;
}

#page-dashboard aside .status-orphanage img {
  margin-bottom: 16px;
}

@keyframes icons {
  0% {
    transform: translateX(-30px);
  }

  100% {
    transform: translateX(0px);
  }
}

#page-dashboard main {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 64px 112px;
}

#page-dashboard main .no-pending {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100%;
}

#page-dashboard main .no-pending h1 {
  font-size: 24px;
  font-weight: 600;
  color: #8FA7B3;
  margin-top: 16px;
}

#page-dashboard main .header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #D3E2E5;
  padding-bottom: 24px;

  max-width: 1120px;
  width: 100%;
}

#page-dashboard main .header-main h1 {
  font-size: 32px;
  font-weight: 700;
  color: #4D6F80;
}
#page-dashboard main .header-main span {
  font-weight: 600;
  font-size: 16px;
  color: #8FA7B3;
}

#page-dashboard main .wrapper-cards {
  display: grid;
  grid-gap: 32px;
  grid-template-columns: 1fr 1fr;

  max-width: 1120px;
  width: 100%;
}

#page-dashboard main .wrapper-cards .cards {
  max-width: 544px;
  margin-top: 40px;
  background: #FFFFFF;
  border-radius: 20px;
}

#page-dashboard main .wrapper-cards .cards .informations-card {
  display: flex;
  align-items: center;
  height: 82px;
  border-radius: 20px;
  background: #FFFFFF;
  
  padding: 0 32px;
}

#page-dashboard main .wrapper-cards .cards .informations-card h1 {
  font-size: 24px;
  font-weight: bold;
  color: #4D6F80;
}

#page-dashboard main .wrapper-cards .cards .informations-card .wrapper-actions {
  margin-left: auto;
}

#page-dashboard main .wrapper-cards .cards .informations-card .wrapper-actions img {
  margin-left: 8px;
  cursor: pointer;
}